:root {
    --primary: #f4f1de;
    --secondary: #e07a5f;
    --tertiary: #3d405b;
    --accent1: #81b29a;
    --accent2: #f2cc8f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration:none;
}

/* Static background image and font family */
body {
    background-image: url(../images/forrest-background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    z-index: 0;
    background-size: cover;
}

/* Nav Bar styling */
header {
    padding: 20px 35px;
    background-color: var(--accent1);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
}

header h1 {
    font-weight: bold;
    font-size: 2vw;
    color: var(--primary);
    margin: 0;
}

header a {
    color: var(--primary);
}

header nav {
    margin: 7px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    font-size: 1.55vw;
    margin: 0 30px;
}

.flex-row {
    display: flex;
}

.section-header {
    font-weight: bold;
    color: var(--secondary);
    font-size: 32px;
    padding-bottom: 20px;
    margin:0 auto 35px auto;
    width: 50%;
    text-align: center;
}

/* Footer Styling */
footer {
    background-color: var(--primary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

/* Hero/ About Me Styling */
.hero {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 20px 0;

}
.hero img {
    width: 40%;
    height: 40%;
    margin: 3.5%;
    border: 6px solid var(--tertiary);
}

.hero p {
    width: 35%;
    text-align: left;
    margin: 3.5%;
    color: var(--secondary);
    font-size: 18px;
    line-height: 1.3;
    padding-top: 20px;
}

/* Projects Styling */

/* expands projects video when hovering over it */

.projects {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-content:center;
    margin: 0 auto 20px auto;
}

.projects-container {
    display: flex; 
    position: relative;
    border: solid 6px var(--tertiary);
    justify-content:center;
    width:20%;
    
}

.projects a {
    height: 200px;
    width: auto;
}

.projects-container a img {
    position: relative;
    z-index: 0;
    object-fit: cover;
    flex: 1 2 auto;
}

.projects1 {
    flex: 2 2 auto;
}

.overlay {
    position: absolute;
    bottom: 3px;
    left: 3px;
    z-index: 1;
    color: var(--tertiary);
    background-color: var(--accent1);
    box-sizing:content-box;
    padding: 4px;

}

.over-right {
    position: absolute;
    bottom: 3px;
    right: 3px;
    z-index: 1;
    color: var(--tertiary);
    background-color: var(--accent1);
    box-sizing:content-box;
    padding: 4px;
}

.contact {
    background-color: var(--accent1);
    background-size: contain;
    padding: 2%;
    align-content: center;
    text-align: center;
}

@media screen and (max-width:980px) {
    body {
        font-size: 75%;
    }

    .hero {
        height: 75%;
    }
}